ptions +FollowSymLinks -Indexes -MultiViews
    
    <IfModule mod_rewrite.c>
        
        RewriteEngine on
        
        # Simple URL redirect:
    #    RewriteRule ^index.html$ http://www.lexingtondesigner.com:8000/tests/adventuremud/ [P]
    
        # Redirect a whole subdirectory:
        RewriteRule ^/tests/adventuremud/(.+) http://lexingtondesigner.com:8000/$1 [P]
	</IfModule>

