html, body {
background-color: #111;
color: #efefef;
padding: .4em;
}
html, body a {
color: #ff55ff;
}
h1,h2,h3 {
font-weight: bold;
}
.inline-list {
padding: 0 0 2px 0;
margin: 0;
}
.inline-list li {
display: inline-block;
padding-right: 5px;
}
.cmd-who {
float: left;
text-align: left;
}
.cmd-who li {
width: 95%;
padding: 2px 0 2px 0;
display: inline-block;
}
.cmd-who .name {
float: left;
font-weight: bold;
padding: 0 3px 0 0;
}
.cmd-who .level {
float: left;
padding: 0 3px 0 0;
}
.cmd-who .race {
float: left;
padding: 0 3px 0 0;
}
.cmd-who .class {
float: left;
}
.motd {
color: red;
padding: 5px 0 5px 0;
margin: 5px 0 5px 0;
border-top: 1px dashed #fff;
border-bottom: 1px dashed #fff;
font-weight: bold;
}
.alert {
color: red;
font-weight: bold;
}
.alertmsg {
color: #fff;
font-style: italic;
}
#inputwrapper form {
background-color: #555;
}
#inputwrapper form input {
width: 100%;
border: none;
background-color: #eee;
color: #111;
}		
.subtext {
width: 100%;
display: inline-block;
clear: both;
color: #ddd;
}
.room {
padding: 5px 0 5px 0;
}
.room-title {
color: yellow;
font-weight: bold;
}
.room-exits {
color: red;
}
#cmd-active {
min-width: 20px;
max-width: 200px;
border-bottom: 1px solid #000;
}
.cmd {
clear: both;
display: block;
width: 95%;
color: yellow;
}
.cmd-wear {
font-weight: bold;
}
.enter-name {
clear: both;
display: block;
font-weight: bold;
}
.room {
margin: 0;
color: #ddd;
}
.room  h2 {
padding: 0;
margin: 0;
}
.room ul {
padding: 0;
margin: 0;
}
.cprompt {
font-weight: bold;
color: #fff;
margin: 5px 0 5px 0;
}
.error {
color: #ff0000;
}
.cmd-kill {
clear: both;
display: inline-block;
}
.player-hit {
display: block;
padding: 0;
margin: 0;
font-size: 1.1em;
color: #ff0000;
}
.player-miss {
display: block;
padding: 0;
margin: 0;
font-size: 1.1em;
color: #00ffff;
}
.foe-hit {
display: block;
padding: 0;
margin: 0;
font-size: 1.1em;
color: #ffff00;
}
.foe-miss {
display: block;
padding: 0;
margin: 0;
font-size: 1.1em;
color: #fff;
}
.score {
width: 50%;
min-width: 400px;
border: 3px solid #eee;
display: block;
}
.score .score-name {
width: 100%;
display: inline-block;
font-size: 1.5em;
background-color: #fff;
color: #000;
padding: 3px 0 3px 0;
text-align: center;
}
.score .score-title {
color: #333;
}
.score .score-info {
float: left;
width: 40%;
padding: 20px 0 20px 20px;
}
.score .score-stats {
float: left;
width: 40%;
padding: 20px 0 20px 0;
}
.score .score-affects {
clear: both;
text-align: center;
width: 100%;
padding: 20px 0;
}
.score .score-affects li{
display: inline;
}
.score .stat-hp {
font-size: 1.75em;
color: #ff0000;
}
.score .stat-mana {
font-size: 1.75em;
color: #00ffff;
}
.score .stat-mv {
font-size: 1.75em;
color: #ffff00;
}
.score .stat-gold {
color: #ffff00;
}
.small {
font-size: 80%;
}
.bold {
font-weight: bold;
}
